{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <title>Fouses Bookings </title>
            <link rel="stylesheet" href="{% static '/reception/css/enquiry.css'%}" >
            <script src="https://kit.fontawesome.com/d8f6b964b3.js" crossorigin="anonymous"></script>
            <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    </head>
    <body>
        <header class="user-info">
            <div class="user-auth">
                <div class="logo-hotel">
                    <img src="{% static 'reception/img/logoimg.png'%}" height="75px" width="200px">
                </div>   
                <div class="profile-user-info">
                    <div class="profile-img">
                      <img src="{% static 'reception/img/avatar.png' %}" class="user-image" height="50px" width="50px">
                    </div>
                    <div class="welcome-user">
                        <span>Rahul Singh </span>
                    </div>      
                </div>     
            </div>    
        </header>
      
        <section class="dashboard">
            <div class="padding">
                <div class="dashboard-heading">
                    <a href="#"><p>DASHBOARD</p></a>
                </div>
                <div class="dashboard-links">
                    <ul>
                        <li><a href="{% url 'room_status' %}" ><i class="fas fa-person-booth"></i> Room Status</a></li>
                        <li><a href="{% url 'guest_list' %}" ><i class="fas fa-luggage-cart"></i> Guest List</a></li>
                        <li><a href="{% url 'maintenance' %}" ><i class="fas fa-broom"></i> Maintenance</a></li>
                        <li><a href="{% url 'bookroom' %}" ><i class="fas fa-plus"></i> Book Room</a> </li>
                        <li><a href="{% url 'customer' %}" ><i class="fas fa-user-check"></i> Customer Authorization</a></li>
                        <li><a href="{% url 'enquiry' %}" ><i class="fas fa-sign-out-alt"></i> Enquiry Request's </a></li>
                    </ul>
                </div>
            </div>    
        </section>
        <section  class="current-status">
            <div class="guest-tabel">
                <h2>Enquiry List</h2>
            <table class="guest-list">
                <tr>
                   <th width="10%">Date</th>
                   <th width="15%">Customer Name</th>
                   <th width="15%">Phone Number</th>
                   <th width="15%">Email Address</th>
                   <th width="21%">Message</th>
                </tr> 
                {% for date,time,name,phone,email,message in enquiry_data %}
                <tr>
                   <td>{{date}}</td>
                   <td>{{name}}</td>
                   <td>{{phone}}</td>
                   <td>{{email}}</td>
                   <td class="message"><p>{{message}}</p></td>      
                </tr>
                {% endfor %}
            </table>
            </div>    
        </section>
    </body>
</html>        