{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static '/reception/css/guest_list.css'%}" >
        <script src="https://kit.fontawesome.com/d8f6b964b3.js" crossorigin="anonymous"></script>
        <script src="{% static '/home/js/guestlist.js' %}"></script>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
        <title>Guest List</title>
    </head>
    <body>
        <header class="user-info">
            <div class="user-auth">
                <div class="logo-hotel">
                    <img src="{% static 'reception/img/logoimg.png'%}" height="75px" width="200px">
                </div>   
                <div class="profile-user-info">
                    <div class="profile-img">
                      <img src="{% static 'reception/img/avatar.png' %}" class="user-image" height="50px" width="50px">
                    </div>
                    <div class="welcome-user">
                        <span>Rahul Singh </span>
                        <span onclick="openNav()" class="hamburger"><i class="fas fa-bars"></i></span>
                    </div>      
                </div>     
            </div> 
            <div id="myNav" class="overlay">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <div class="overlay-content">
                    <a href="#">
                        <div class="nav-flex">
                            <i class="fas fa-home"></i>
                            <p>Home</p>
                        </div>        
                    </a>
                    <a href="#">
                        <div class="nav-flex">
                            <i class="fas fa-person-booth"></i> 
                            <p>Room Status</p>
                        </div>        
                    </a>
                    <a href="#">
                        <div class="nav-flex">
                            <i class="fas fa-plus"></i> 
                            <p>Book Room</p>
                        </div>
                    </a>
                    <a href="#">
                        <div class="nav-flex">
                            <i class="fas fa-broom"></i>
                            <p> Maintenance </p>
                        </div>
                    </a>
                    <a href="#">
                        <div class="nav-flex">
                            <i class="fas fa-user-check"></i> 
                            <p>Customer Authorization</p>
                        </div>
                    </a>
                    <a href="#">
                        <div class="nav-flex">
                            <i class="fas fa-sign-out-alt"></i>
                            <p>Enquiry Request's</p>
                        </div>    
                    </a>
                </div>
            </div> 
        </header>  
        <section class="guest-table">
            <table class="guest-list" width="100%">
                <tr>
                   <th>Guest Name</th>
                   <th>Country-Town</th>
                   <th class="contact-info">Contact Info</th>
                   <th>Check In-Out</th>
                   <th class="room">Rooms</th>
                   <th class="guest">Guests</th>
                   <th>ID Proof</th>
                   <th>Rooms Selected</th>
                   <th>Alloted</th>
                   <th class="select-input">Action</th>
                </tr>
                {% for name,country,town,mail,phone,in_date,out_date,room_count,guest_count,id_proof in guest_details %}
                <tr>
                   <td>{{name}}</td>
                   <td><p>{{country}}</p>
                        <p>{{town}}</p>
                   </td>
                   <td rowspan="1" class="contact-row">
                       <p>{{mail}}</p>
                       <p>{{phone}}</p>
                   </td>
                   <td rowspan="1">
                       <p>{{in_date}}</p><p>To</p><p>{{out_date}}</p>
                   </td>
                   <td> {{room_count}} </td>    
                   <td> {{guest_count}} </td>
                   <td colspan="1">
                       {{id_proof}}
                   </td>    
                   <td>Luxury Room</td>
                   <td>L-101</td>
                   <td class="input-action">
                       <select id="guest-option">
                         <option>Checked-In</option>
                         <option>Checked-Out</option>          
                         <option>Early-In</option>
                         <option>Late-Out</option>
                         <option>Skipper</option>
                         <option>No Update</option>
                       </select>    
                   </td>    
                </tr>
                {% endfor %} 
               <!--  <tr>
                    <td>Rajendra prasad verma</td>
                    <td><p>India</p>
                         <p>Thiruvananthpuram</p>
                    </td>
                    <td rowspan="1" class="contact-row">
                        <p>aashutosh2899@gmail.com</p>
                        <p>9876543210</p>
                    </td>
                    <td rowspan="1">
                        <p>28-07-2020</p><p>To</p><p> 31-07-2020</p>
                    </td>
                    <td> 01 </td>    
                    <td> 05 </td>
                    <td colspan="1">
                        Aadhar Card
                    </td>    
                    <td>Luxury Room</td>
                    <td>L-101</td>
                    <td class="input-action">
                        <label for="guest-option">
                        <select id="guest-option">
                          <option>Checked-In</option>
                          <option>Checked-Out</option>          
                          <option>Early-In</option>
                          <option>Late-Out</option>
                          <option>Skipper</option>
                        </select>    
                    </td>    
                 </tr> 
                 <tr>
                    <td>Rajendra prasad verma</td>
                    <td><p>India</p>
                         <p>Thiruvananthpuram</p>
                    </td>
                    <td rowspan="1" class="contact-row">
                        <p>abhir@gmail.com</p>
                        <p>9876543210</p>
                    </td>
                    <td rowspan="1">
                        <p>28-07-2020</p><p>To</p><p> 31-07-2020</p>
                    </td>
                    <td> 01 </td>    
                    <td> 05 </td>
                    <td colspan="1">
                        Aadhar Card
                    </td>    
                    <td>Luxury Room</td>
                    <td>L-101</td>
                    <td class="input-action">
                        <label for="guest-option">
                        <select id="guest-option">
                          <option>Checked-In</option>
                          <option>Checked-Out</option>          
                          <option>Early-In</option>
                          <option>Late-Out</option>
                          <option>Skipper</option>
                        </select>    
                    </td>    
                 </tr> 
                 <tr>
                    <td>Rajendra prasad verma</td>
                    <td><p>India</p>
                         <p>Thiruvananthpuram</p>
                    </td>
                    <td rowspan="1" class="contact-row">
                        <p>abhir@gmail.com</p>
                        <p>9876543210</p>
                    </td>
                    <td rowspan="1">
                        <p>28-07-2020</p><p>To</p><p> 31-07-2020</p>
                    </td>
                    <td> 01 </td>    
                    <td> 05 </td>
                    <td colspan="1">
                        Aadhar Card
                    </td>    
                    <td>Luxury Room</td>
                    <td>L-101</td>
                    <td class="input-action">
                        <label for="guest-option">
                        <select id="guest-option">
                          <option>Checked-In</option>
                          <option>Checked-Out</option>          
                          <option>Early-In</option>
                          <option>Late-Out</option>
                          <option>Skipper</option>
                        </select>    
                    </td>    
                 </tr> 
                 <tr>
                    <td>Rajendra prasad verma</td>
                    <td><p>India</p>
                         <p>Thiruvananthpuram</p>
                    </td>
                    <td rowspan="1" class="contact-row">
                        <p>abhir@gmail.com</p>
                        <p>9876543210</p>
                    </td>
                    <td rowspan="1">
                        <p>28-07-2020</p><p>To</p><p> 31-07-2020</p>
                    </td>
                    <td> 01 </td>    
                    <td> 05 </td>
                    <td colspan="1">
                        Aadhar Card
                    </td>    
                    <td>Luxury Room</td>
                    <td>L-101</td>
                    <td class="input-action">
                        <label for="guest-option">
                        <select id="guest-option">
                          <option>Checked-In</option>
                          <option>Checked-Out</option>          
                          <option>Early-In</option>
                          <option>Late-Out</option>
                          <option>Skipper</option>
                        </select>    
                    </td>    
                 </tr> 
                 <tr>
                    <td>Rajendra prasad verma</td>
                    <td><p>India</p>
                         <p>Thiruvananthpuram</p>
                    </td>
                    <td rowspan="1" class="contact-row">
                        <p>abhir@gmail.com</p>
                        <p>9876543210</p>
                    </td>
                    <td rowspan="1">
                        <p>28-07-2020</p>To<p> 31-07-2020</p>
                    </td>
                    <td> 01 </td>    
                    <td> 05 </td>
                    <td colspan="1">
                        Aadhar Card
                    </td>    
                    <td>Luxury Room</td>
                    <td>L-101</td>
                    <td class="input-action">
                        <label for="guest-option">
                        <select id="guest-option">
                          <option>Checked-In</option>
                          <option>Checked-Out</option>          
                          <option>Early-In</option>
                          <option>Late-Out</option>
                          <option>Skipper</option>
                        </select>    
                    </td>    
                 </tr> 
                 <tr>
                    <td>Rajendra prasad verma</td>
                    <td><p>India</p>
                         <p>Thiruvananthpuram</p>
                    </td>
                    <td rowspan="1" class="contact-row">
                        <p>abhir@gmail.com</p>
                        <p>9876543210</p>
                    </td>
                    <td rowspan="1">
                        <p>28-07-2020</p><p>To</p><p> 31-07-2020</p>
                    </td>
                    <td> 01 </td>    
                    <td> 05 </td>
                    <td colspan="1">
                        Aadhar Card
                    </td>    
                    <td>Luxury Room</td>
                    <td>L-101</td>
                    <td class="input-action">
                        <label for="guest-option">
                        <select id="guest-option">
                          <option>Checked-In</option>
                          <option>Checked-Out</option>          
                          <option>Early-In</option>
                          <option>Late-Out</option>
                          <option>Skipper</option>
                        </select>    
                    </td>    
                 </tr> 
                 <tr>
                    <td>Rajendra prasad verma</td>
                    <td><p>India</p>
                         <p>Thiruvananthpuram</p>
                    </td>
                    <td rowspan="1" class="contact-row">
                        <p>abhir@gmail.com</p>
                        <p>9876543210</p>
                    </td>
                    <td rowspan="1">
                        <p>28-07-2020</p><p>To</p><p> 31-07-2020</p>
                    </td>
                    <td> 01 </td>    
                    <td> 05 </td>
                    <td colspan="1">
                        Aadhar Card
                    </td>    
                    <td>Luxury Room</td>
                    <td>L-101</td>
                    <td class="input-action">
                        <label for="guest-option">
                        <select id="guest-option">
                          <option>Checked-In</option>
                          <option>Checked-Out</option>          
                          <option>Early-In</option>
                          <option>Late-Out</option>
                          <option>Skipper</option>
                        </select>    
                    </td>    
                 </tr>  -->
                 <!-- <tr>
                    <td>Rajendra prasad verma</td>
                    <td><p>India</p>
                         <p>Thiruvananthpuram</p>
                    </td>
                    <td rowspan="1" class="contact-row">
                        <p>abhir@gmail.com</p>
                        <p>9876543210</p>
                    </td>
                    <td rowspan="1">
                        <p>28-07-2020</p><p>To</p><p> 31-07-2020</p>
                    </td>
                    <td> 01 </td>    
                    <td> 05 </td>
                    <td colspan="1">
                        Aadhar Card
                    </td>    
                    <td>Luxury Room</td>
                    <td>L-101</td>
                    <td class="input-action">
                        <label for="guest-option">
                        <select id="guest-option">
                          <option>Checked-In</option>
                          <option>Checked-Out</option>          
                          <option>Early-In</option>
                          <option>Late-Out</option>
                          <option>Skipper</option>
                          <option>No Update</option>
                        </select>    
                    </td>    
                 </tr> 
                 <tr>
                    <td>Rajendra prasad verma</td>
                    <td><p>India</p>
                         <p>Thiruvananthpuram</p>
                    </td>
                    <td rowspan="1" class="contact-row">
                        <p>abhir@gmail.com</p>
                        <p>9876543210</p>
                    </td>
                    <td rowspan="1">
                        <p>28-07-2020</p><p>To</p><p> 31-07-2020</p>
                    </td>
                    <td> 01 </td>    
                    <td> 05 </td>
                    <td colspan="1">
                        Aadhar Card
                    </td>    
                    <td>Luxury Room</td>
                    <td>L-101</td>
                    <td class="input-action">
                        <label for="guest-option">
                        <select id="guest-option">
                          <option>Checked-In</option>
                          <option>Checked-Out</option>          
                          <option>Early-In</option>
                          <option>Late-Out</option>
                          <option>Skipper</option>
                        </select>    
                    </td>    
                 </tr>  -->
            </table>    
        </section>    
    </body>
</html>