{%load static%}
<!DOCTYPE html>
<html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <script src="https://kit.fontawesome.com/d8f6b964b3.js" crossorigin="anonymous"></script>
            <link rel="stylesheet" href="{% static '/reception/css/maintenance.css'%}" >
            <script src="https://kit.fontawesome.com/d8f6b964b3.js" crossorigin="anonymous"></script>
            <script src="{% static '/reception/js/guestlist.js' %}"></script>
            <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
            <title>Maintanace Status</title>
            <title>Document</title>
        </head>
        <body>
            <header class="user-info">
                <div class="user-auth">
                    <div class="logo-hotel">
                        <img src="{% static 'reception/img/logoimg.png'%}" height="75px" width="200px">
                    </div>   
                    <div class="profile-user-info">
                        <div class="profile-img">
                          <img src="{% static 'reception/img/avatar.png' %}" class="user-image" height="50px" width="50px">
                        </div>
                        <div class="welcome-user">
                            <span>Rahul Singh </span>
                            <span onclick="openNav()" class="hamburger"><i class="fas fa-bars"></i></span>
                        </div>      
                    </div>     
                </div> 
                <div id="myNav" class="overlay">
                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                    <div class="overlay-content">
                        <a href="#">
                            <div class="nav-flex">
                                <i class="fas fa-home"></i>
                                <p>Home</p>
                            </div>        
                        </a>
                        <a href="#">
                            <div class="nav-flex">
                                <i class="fas fa-luggage-cart"></i> 
                                <p>Guest List</p>
                            </div>        
                        </a>
                        <a href="#">
                            <div class="nav-flex">
                                <i class="fas fa-plus"></i> 
                                <p>Book Room</p>
                            </div>
                        </a>
                        <a href="#">
                            <div class="nav-flex">
                                <i class="fas fa-person-booth"></i>
                                <p> Room Status </p>
                            </div>
                        </a>
                        <a href="#">
                            <div class="nav-flex">
                                <i class="fas fa-user-check"></i> 
                                <p>Customer Authorization</p>
                            </div>
                        </a>
                        <a href="#">
                            <div class="nav-flex">
                                <i class="fas fa-sign-out-alt"></i>
                                <p>Enquiry Request's</p>
                            </div>    
                        </a>
                    </div>
                </div> 
            </header>  
            <section class="guest-table">
                <div class="section-heading">
                    <h2>Maintenance</h2>
                </div>   
                <div class="row-search">
                    <div class="row-find">
                        <input class="search-bar" placeholder="Search Rooms" type="text" />
                        <button type="submit"><i class="fas fa-search"></i></button>
                    </div>
                    <div class="row-update">
                <form action="" method="POST">
                {% csrf_token %}    

                        <input type="submit" class="update-btn" value="Update">
                    </div>        
                </div> 
                <table class="guest-list" width="100%" >
                    <tr>
                       <th>Room Number</th>
                       <th>Room Type</th>
                       <th>Issues</th>
                       <th>Description</th>
                       <th>Progress</th>
                    </tr>
                    {% for number,status,type,housekeeping_status,issue,issue_description in mydata %}  
                    <tr>
                       <td>{{number}}</td>
                       <td>{{type}}</td>
                       <td>
                           <select class="housekeeping" name="{{number}}">
                              <option value="electrical_issue" {% if issue == electrical_issue %}{{select}}{% endif %}>Electrical Issues</option>
                              <option value="plumbing_issue" {% if issue == plumbing_issue %}{{select}}{% endif %}>Plumbing Issues</option>
                              <option value="furniture_issue" {% if issue == furniture_issue %}{{select}}{% endif %}>Furniture Issues</option>
                              <option value="renovation" {% if issue == renovation %}{{select}}{% endif %}>Renovation</option>
                              <option value="no_issues" {% if issue == no_issues %}{{select}}{% endif %}>No Issues</option>
                           </select>      
                       </td>
                       <td class="message"> 
                          <textarea  placeholder="Describe" maxlength="4000" name="{{number}}-description" >{% if issue == no_issue %}{{empty}}{% else %}{{issue_description}}{% endif %}</textarea>    
                          <!-- <input type="text" name="{{number}}-description" placeholder="Describe" value="{{issue_description}}"> -->
                       </td>    
                       <td> 
                          Maintenance Dept.
                       </td>    
                    </tr>
                    {% endfor %}
                </table>
                </form>    
            </section>    
        </body>
</html>