{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <title>Fouses Bookings </title>
            <link rel="stylesheet" href="{% static '/home/css/enquiry.css'%}" >
            <script src="https://kit.fontawesome.com/d8f6b964b3.js" crossorigin="anonymous"></script>
            <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    </head>
    <body>
        <header class="user-info">
            <div class="user-auth">
                <div class="logo-hotel">
                    <img src="{% static 'home/img/logoimg.png'%}" height="75px" width="200px">
                </div>   
                <div class="profile-user-info">
                    <div class="profile-img">
                      <img src="{% static 'home/img/avatar.png' %}" class="user-image" height="50px" width="50px">
                    </div>
                    <div class="welcome-user">
                        <span>Rahul Singh </span>
                    </div>      
                </div>     
            </div>    
        </header>
      
        <section class="dashboard">
            <div class="padding">
                <div class="dashboard-heading">
                    <a href="#"><p>DASHBOARD</p></a>
                </div>
                <div class="dashboard-links">
                    <ul>
                        <li><a href="#" ><i class="fas fa-person-booth"></i> Room Status</a></li>
                        <li><a href="#" ><i class="fas fa-luggage-cart"></i> Guest List</a></li>
                        <li><a href="#" ><i class="fas fa-broom"></i> Maintenance</a></li>
                        <li><a href="#" ><i class="fas fa-plus"></i> Book Room</a> </li>
                        <li><a href="#" ><i class="fas fa-user-check"></i> Customer Authorization</a></li>
                        <li><a href="#" ><i class="fas fa-sign-out-alt"></i> Enquiry Request's </a></li>
                    </ul>
                </div>
            </div>    
        </section>
        <section  class="current-status">
            <div class="guest-tabel">
                <h2>Enquiry List</h2>
            <table class="guest-list" id="myTable">
                <tr>
                   <th width="10%">Date</th>
                   <th width="15%">Customer Name</th>
                   <th width="15%">Phone Number</th>
                   <th width="15%">Email Address</th>
                   <th width="21%">Message</th>
                </tr> 
                <tr>
                   <td>22/09/2020</td>
                   <td>Rahul Singh</td>
                   <td>9876543210</td>
                   <td>abcde@fmail.com</td>
                   <td class="message"><p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout</p></td>      
                </tr>
                <tr>
                    <td>22/09/2020</td>
                   <td>Rahul Singh</td>
                   <td>9876543210</td>
                   <td>abcde@fmail.com</td>
                   <td class="message"><p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout</p></td>      
                </tr>
                <tr>
                   <td>22/09/2020</td>
                   <td>Rahul Singh</td>
                   <td>9876543210</td>
                   <td>abcde@fmail.com</td>
                   <td class="message"><p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout</p></td>     
                </tr>
                <tr>
                    <td>22/09/2020</td>
                    <td>Rahul Singh</td>
                    <td>9876543210</td>
                    <td>abcde@fmail.com</td>
                    <td class="message"><p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout</p></td>     
                </tr>
                <tr>
                    <td>22/09/2020</td>
                   <td>Rahul Singh</td>
                   <td>9876543210</td>
                   <td>abcde@fmail.com</td>
                   <td class="message"><p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout</p></td>      
                </tr>
                <tr>
                    <td>22/09/2020</td>
                   <td>Rahul Singh</td>
                   <td>9876543210</td>
                   <td>abcde@fmail.com</td>
                   <td class="message"><p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout</p></td>     
                </tr>
                <tr>
                    <td>22/09/2020</td>
                   <td>Rahul Singh</td>
                   <td>9876543210</td>
                   <td>abcde@fmail.com</td>
                   <td class="message"><p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout</p></td>
                </tr>
                <tr>
                    <td>22/09/2020</td>
                   <td>Rahul Singh</td>
                   <td>9876543210</td>
                   <td>abcde@fmail.com</td>
                   <td class="message"><p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout</p></td>     
                </tr>
                <tr>
                    <td>22/09/2020</td>
                   <td>Rahul Singh</td>
                   <td>9876543210</td>
                   <td>abcde@fmail.com</td>
                   <td class="message"><p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout</p></td>     
                </tr>
                <tr>
                    <td>22/09/2020</td>
                   <td>Rahul Singh</td>
                   <td>9876543210</td>
                   <td>abcde@fmail.com</td>
                   <td class="message"><p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout</p></td>      
                </tr>

            </table>
            </div>    
        </section>
    </body>
</html>   
<script>
    function myFunction() {

    var input, filter, table, tr, td, i, txtValue;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    table = document.getElementById("myTable");
    tr = table.getElementsByTagName("tr");

    
    for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[0] ;
        if (td) {
        txtValue = td.textContent || td.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
        } else {
            tr[i].style.display = "none";
        }
        }
    }
    }
</script>     