<!DOCTYPE html>
  <html>
      <head>
          <title> Fouses Hotels </title>
          <link rel="stylesheet" href="homepage.css">
          <script src="https://kit.fontawesome.com/d8f6b964b3.js" crossorigin="anonymous"></script>
          <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
          <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
      </head>    
      <body>
           <header class="navbar">
                <div class="back-image">  
                  <div class="list-navbar">
                    <ul id="left-navbar">  
                     <li>Home</li>
                     <li>About Us</li>
                     <li>Restaurant</li>
                    </ul> 
                     <div class="logo-image" > <img src="logo.png" height="190px" width="190px"> </div>
                    <ul id="right-navbar"> 
                     <li>Contact Us</li>
                     <li>Gallary</li>
                     <li>Login</li>
                    </ul> 
                  </div>  
                   <div class="header-content"> 
                     <h1>Lorem ipsum dolor sit </h1> 
                     <h3>Lorem ipsum dolor sit amet, consectetur adipiscing <br>
                     elit. Donec at.</h3>
                      <div class="search-bar">
                           <input type="text"placeholder= "Search">
                      </div>
                   </div>    
           </header>  
      </body>    
  </html>    