{% load static %}
<!DOCTYPE html>
  <html>
      <head>
          <title> Fouses Hotels </title>
          <link rel="stylesheet" href="{% static '/home/css/homepage.css' %}">
          <script src="https://kit.fontawesome.com/d8f6b964b3.js" crossorigin="anonymous"></script>
          <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
          <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
          
      </head>    
         <body>
              <header class="navigation">
                 <div class="back-image">  
                    <div class="logo-image">
                      <img src="{%static '/home/img/logoimg.png ' %} " height="60px" width="200px">
                    </div>  
                    <div class="navbar-list">
                      <ul>  
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About-Us</a></li>
                        <li><a href="#">Rooms</a></li>
                        <li><a href="#">Dining</a></li>
                        <li><a href="#">Gallary</a></li>
                        <li id="nav-contact"><a href="contact.html">Contact Us</a></li>
                        <li id="nav-login">
                          <a href="#">
                            <span>Login</span>
                          </a>  
                        </li>  
                        <li id="nav-search">
                            <input type="text" placeholder="Search"></input>
                            <i class="fas fa-search"></i>
                        </li>  
                     </ul> 
                    </div> 
                  </div>   
                  <div class="content-header"> 
                      <h1>Awaken To Different World </h1> 
                     <p>Your Historic Dwelling in The Heart of City.</p>
                      <div class="booking-bar">
                        <div class="bookings">
                          <div class="check-in">
                            <p>Arrival</p>
                           
                          </div> 
                          <div class="check-in">
                            <p>Departure</p>
                            
                          </div>  
                          <div class="check-in">
                            <p>No. Of Guests</p>
                           
                          </div>   
                          <div class="check-in">
                            <p>No. Of Rooms</p> 
                           
                          </div>
                          <div class="check-available">
                            <button class="btn-avail" type="submit" >Check Availability</button>
                          </div>
                        </div>  
                      </div>
                  </div> 
                </div>
              </header> 
           <section class="about-us">
               <div class="about">
                 <h2>About-Us</h2>
                 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi condimentum tincidunt arcu. Donec ac convallis mi, ac interdum mauris. Morbi consequat nunc lacinia, dictum ligula in, malesuada urna. In sagittis euismod magna, eu consequat velit rhoncus quis. Aliquam nec arcu.</p>
                 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tristique sapien libero, id condimentum ligula vestibulum sed. Ut ac ipsum non eros pretium consectetur. Nunc accumsan.</p>
               </div>    
            </section>
             <section class="rooms">
              <div class="container-rooms">
                <h2>Our Rooms</h2>
                <div class="flex-rooms">
                  {% for style,price,rating,show_on_homepage,room_available_count in mylist %}
                  {% if show_on_homepage %}
                  <div class="rooms-row">
                    <a href="#">
                      <div class="module row-content" id="mySlides"> 
                        <div class="heading"><p>{{ style }}</p></div>
                        <div class="ratings">
                          <p>Ratings :
                            {% with ''|center:rating as range %}
                            {% for _ in range %}
                            <i class="fas fa-star"></i>
                            {% endfor %}
                            {% endwith %}
                          </p>
                        </div>
                        <div class="available">
                          <p>Available {{ room_available_count }}</p>
                        </div>  
                        <div class="rates">
                          <p><i class="fas fa-rupee-sign"></i>{{ price }}</p>
                        </div>  
                      </div>
                    </a> 
                  </div>
                 {% endif %}
                  {% endfor %}
                   <!--<div class="rooms-row">
                    <a href="#">
                      <div class="img-2 row-content "> 
                        <div class="heading"><p> LUXURY ROOM </p> </div>
                        <div class="ratings">
                          <p>Ratings :
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                          </p>
                        </div>
                        <div class="available">
                          <p>Available 48</p>
                        </div>  
                        <div class="rates">
                          <p><i class="fas fa-rupee-sign"></i>5000</p>
                        </div>  
                      </div>
                    </a> 
                  </div>
                  <div class="rooms-row">
                    <a href="#">
                      <div class="img-3 row-content"> 
                        <div class="heading"><p> LUXURY ROOM </p> </div>
                        <div class="ratings">
                          <p>Ratings :
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                          </p>
                        </div>
                        <div class="available">
                          <p>Available 48</p>
                        </div>  
                        <div class="rates">
                          <p><i class="fas fa-rupee-sign"></i>5000</p>
                        </div>  
                      </div>
                    </a> 
                  </div>         
                </div>
                <div class="flex-rooms">
                  <div class="rooms-row">
                    <a href="#">
                      <div class="img-4 row-content"> 
                        <div class="heading"><p> LUXURY ROOM </p> </div>
                        <div class="ratings">
                          <p>Ratings :
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                          </p>
                        </div>
                        <div class="available">
                          <p>Available 48</p>
                        </div>  
                        <div class="rates">
                          <p><i class="fas fa-rupee-sign"></i>5000</p>
                        </div>  
                      </div>
                    </a> 
                  </div>
                  <div class="rooms-row">
                    <a href="#">
                      <div class="img-5 row-content"> 
                        <div class="heading"><p> LUXURY ROOM </p> </div>
                        <div class="ratings">
                          <p>Ratings :
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                          </p>
                        </div>
                        <div class="available">
                          <p>Available 48</p>
                        </div>  
                        <div class="rates">
                          <p><i class="fas fa-rupee-sign"></i>5000</p>
                        </div>  
                      </div>
                    </a> 
                  </div>
                  <div class="rooms-row">
                    <a href="#">
                      <div class="img-6 row-content"> 
                        <div class="heading"><p> LUXURY ROOM </p> </div>
                        <div class="ratings">
                          <p>Ratings :
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                          </p>
                        </div>
                        <div class="available">
                          <p>Available 48</p>
                        </div>  
                        <div class="rates">
                          <p><i class="fas fa-rupee-sign"></i>5000</p>
                        </div>  
                      </div>
                    </a> 
                  </div>        
                </div>-->
                
              </div>    
              <div style="text-align:center">
                <span class="dot" onclick="currentSlide(1)"></span>
                <span class="dot" onclick="currentSlide(2)"></span>
                <span class="dot" onclick="currentSlide(3)"></span>
              </div>
            </section>     
         </body>  
      <script>
         var slideIndex = 0;
         showSlides();

         function showSlides() {
         var i;
         var slides = document.getElementsByClassName("module");
         slideIndex++;
         if (slideIndex > slides.length) {slideIndex = 1}
         slides[slideIndex-1].style.display = "block";
         setTimeout(showSlides, 2000); // Change image every 2 seconds
}
      </script>  
  </html>    