*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #232329;
}
{
    font-family: 'Montserrat', sans-serif ;
}
  {
    font-family: 'Lato', sans-serif;
}
@font-face{
    font-family: neutra;
    src: url(/static/home/fonts/neutra-text-font/NeutraText-Bold.otf);
}
*{
    font-family: 'Cabin', sans-serif;
}

.user-info{
    padding: 5px 0px;
    position: fixed;
    width: 100%;
}
.user-auth{
    display: flex;
    /* border-bottom: 1px solid #79797c; */
    /* box-shadow:  5px 5px 20px #101013, 
             5px 5px 20px #101013; */
    border-bottom: 1px solid #2f2f30;
    padding: 10px;
    
}
.logo-hotel{
    width: 70%;
    padding: 5px 5% ;
   
}

.profile-user-info{
    display: flex;
    width: 30%;
    padding: 8px 0px;
    margin-top: 10px;
}
.profile-img{
    width: 50%;
    text-align: right;

}
.profile-img img{
    background: linear-gradient(145deg, #202025, #25252c);
    box-shadow:  5px 5px 16px #0f0f12, 
                 -5px -5px 16px #373740;
                 border-radius: 50%;
}
.welcome-user{
    width: 50%;
    padding: 20px 3%;
}
.welcome-user span {
    color: #ecf0f1;
    font-family: neutra;
}
.padding{
    border-right: 1px solid #2f2f30;
    padding: 0px 3%;
}
.dashboard{
    top: 0;
    left: 0;
    width: 350px;
    max-width: 70%;
    padding: 20px 1%;
    position: fixed;
    height: 100vh;
    margin-top: 120px;
}

.dashboard-heading{
    border-bottom: 1px solid #2f2f30; 
    padding: 0px 3%; 
}
.dashboard-heading p{
    color: #ecf0f1;
    text-align: center;
    padding: 30px 0px;
    font-family: neutra;
}
.dashboard-links{
    padding: 30px 0%;
   
}
.dashboard-links ul{
    list-style: none;
}
.dashboard-links li a{
    text-decoration: none;
    color: #ecf0f1;
    transition: 1s ease-in-out;
}
.dashboard-links li:hover{
    transform: scale(1.1);
}
.dashboard-links li{
    padding: 20px 0px;
    text-align: left;
    padding-left: 20%;
}
.dashboard-links li a i{
    margin-right: 5%;
    color:#f1c40f;
    box-shadow:  9px 9px 7px #1a1a1f, 
             -9px -9px 7px #2c2c33;
             border-radius: 50%;
}
.info-form{
    left: 0;
    top: 0;
    padding-top: 120px;
    margin-left: 27%;
    padding-right: 2%; 
}
.personal-form p{
    margin-top: 20px;
    font-family: 'Cabin', sans-serif;
    font-size: 15px;
    letter-spacing: 0.9px;
}
.personal-form p a{
    text-decoration: none;
    color: #a71498;
    font-family: 'Cabin', sans-serif;
    font-size: 15px;
    letter-spacing: 0.9px;
}
.form-input-country p{
    text-decoration: none;
    color: #b2bec3;
    font-family: 'Cabin', sans-serif; 
    font-size:16px;
    margin-bottom: 6px;
}
.form-input-country select{
    height: 40px;
    width: 100%;
    padding: 0;
    text-decoration: none;
    padding: 0px 10px;
    border: 1px solid #b2bec3;
    color: #b2bec3;
}
.form-input-country select:focus{
    outline: none;
}
.form-input-country {
    padding: 10px 10px;
}
.form-input-country select option{
    font-family: 'Cabin', sans-serif; 
    font-size: 16px;
    outline: none;
    background-color: #232329;
    color: #b2bec3;
    padding: 20px 10%;
}
.form-input-country p::after{
   color: #e32;
   display: inline;
   content: '*';
   font-weight: 800;
   margin-left: 5px;
}
.input-name{
    display: flex;
}
.name-field{
    width: 33.33%;
    padding: 5px 1%;
}
.name-field input{
    width: 70%;
    height: 33px;
    padding: 0px 3%;
    border: 1px solid #b2bec3;
    color: #b2bec3;
}
.name-field input:focus{
    outline: none;
}
.name-field select{
    width: 70%;
    height: 33px;
    padding: 0px 3%;
    border: 1px solid #c2c2c2;
    color: #b2bec3;
}
.name-field select option{
    font-family: 'Cabin', sans-serif; 
    font-size: 16px;
    color: #b2bec3;
}
.name-field select:focus{
    outline: none;
}
.name-field p{
    font-size:16px ;
    padding: 10px 0px;
    margin-top: 10px;
    color: #b2bec3;
}
.name-field p::after{
    color: #e32;
    display: inline;
    content: '*';
    font-weight: 800;
    margin-left: 5px;
}
.id-proof{
    padding: 10px 1%;
}
.id-proof select{
    width:100%;
    height: 40px;
    padding: 10px ;
    color: #b2bec3;
}
.id-proof select{
    padding: 5px 1%;
    border: 1px solid #b2bec3;
}
.id-proof select option{
    font-family: 'Cabin', sans-serif; 
    font-size: 16px;
    color: #b2bec3;
    background-color: #232329;
}
.id-proof select:focus{
     outline: none;
}
.id-proof p{
    font-family: 'Cabin', sans-serif;
    font-size:16px;
    color: #b2bec3;
    margin-bottom: 6px;
}
.id-proof p::after{
    color: #e32;
    display: inline;
    content: '*';
    font-weight: 800;
    margin-left: 5px;
}
.form-submit{
    text-align: center;
    padding: 20px 20px;
}
.form-submit input{
    padding: 10px 15px;
    border-radius: 2px;
    background-color: #fab1a0;
    color: #0a0a0a;
    border: none;
    font-size: 15px;
}
.form-submit input:focus{
    outline: none;
}
.upload-proof input{
    width: 30%;
    padding: 10px 1%;
    background: transparent;
    color: #b2bec3;
    font-size: 15px;
}


.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    margin-left: 5%;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
    font-family: 'Cabin', sans-serif; 
    font-size: 12px;
  }
  .tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
  }
  .tooltip i{
      color: #e32;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
  .name-field h6{
      padding: 10px 0px;
      color:#b2bec3;
  }
  .last p::after{
      display: none;
  }