*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
{
    font-family: 'Montserrat', sans-serif ;
}
  {
    font-family: 'Lato', sans-serif;
}
@font-face{
    font-family: neutra;
    src: url(/static/home/fonts/neutra-text-font/NeutraText-Bold.otf);
}
*{
    font-family: 'Cabin', sans-serif;
}
body{
    color: #f5f6fa;
}
.manager-panel{
    display: flex;
    justify-content: space-between;
}
.sidebar-manager{
    top: 0;
    left: 0;
    background-color: #ffffff;
    width: 20%;
    position: fixed;
    height: 100%;
    padding: 20px 1%;
}
.user-profile{
    top: 0;
    align-items: center;
    width: 80%;
    margin-left: 270px;
    background-color: #ffffff;
}
.user-name{
    text-align: right;
    padding: 15px 20%;
}
.user-name i{
    color: #713bdb;
    margin-right: 2%;
    font-size: 20px;
}
.user-name span{
   color: #000000;
   text-align: center;
   color: #afafaf;
}
.btn{
    text-align: center;
}
.img{
    text-align: center;
}
.employee-btn{
    background-color:#713bdb ;
    color: #ffffff;
    padding: 13px 35px;
    border: none;
    width: auto;
    border-radius: 6px;
    margin-top:35px ;
    cursor: pointer;
}
.employee-btn:focus{
    outline: none;
}
.employee-btn i{
    margin-left: 12px;
    font-size: 15px;
}
.manager-list ul{
  list-style: none;
  padding: 20px 18%;
}
.manager-list ul li{
    padding: 15px 0px;
}
.manager-list ul li a{
    text-decoration: none;
    color:#9597a0;
}
.links {
    display: flex;
    justify-content: space-evenly;
}
/* .links:active{
    color: #000000;
} */
.links i{
    width: 25%;
    padding-left: 15%;
    font-size: 16px;
    transition: .2s ease-in-out;
}
.links:hover{
    color: #713bdb;
}
.links:active{
    color: #713bdb;
}
.links span{
    width: 75%;
    padding-left: 13%;
    font-size: 16px;
}
.info-container{
    margin-left: 20%;
    color: #000000;
}
.information{
    padding: 40px 1%;
    display: flex;
    justify-content: space-evenly;
}
.block-row-one{
    display: flex;
    background-color: #ffffff;
    width: 20%;
    padding: 20px 2%;
    align-items: center;
    border-radius: 10px;
}
.background-icon{
    width: 30%;
}
.content{
    width: 70%;
    text-align: left;
    margin-left: 4%;
}
.content p{
    margin-bottom: 4px;
    color: #9597a0;
    font-weight: 500;
    font-size: 15px;
}
#number{
    font-size: 17px;
    font-weight: 700;
    color: #000000;
}
.background-icon{
    margin-right: 5%;
}
.background-icon i{
    border-radius: 50%;
    background-color: #f2ebfb;
    padding: 15px 15px;
    color: #713bdb;
}
.icon-one i{
    background-color: #eef9ff;
    color: #49b8fe;
}
.icon-two i{
    background-color: #fef3ef;
    color: #ff8c56;
}
.icon-three i{
    background-color: #ffeff2;
    color: #fb5180;
}

#chartContainer{
    margin-left: 5%;
}
#chart{
    margin: 0px 1%;
}
#chart-line{
    margin-left: 5%;
}
#chart-explode{
    margin: 0px 1%;
}
.figures{
    display: flex;
    margin-bottom: 30px;
}
.occupancy{
    padding-bottom: 30px;
    display: flex;
}