*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #232329;
}
{
    font-family: 'Montserrat', sans-serif ;
}
  {
    font-family: 'Lato', sans-serif;
}
@font-face{
    font-family: neutra;
    src: url(/static/home/fonts/neutra-text-font/NeutraText-Bold.otf);
}
*{
    font-family: 'Cabin', sans-serif;
}

.user-info{
    padding: 5px 0px;
    position: fixed;
    width: 100%;
}
.user-auth{
    display: flex;
    /* border-bottom: 1px solid #79797c; */
    /* box-shadow:  5px 5px 20px #101013, 
             5px 5px 20px #101013; */
    border-bottom: 1px solid #2f2f30;
    padding: 10px;
    
}
.logo-hotel{
    width: 70%;
    padding: 5px 5% ;
   
}

.profile-user-info{
    display: flex;
    width: 30%;
    padding: 8px 0px;
    margin-top: 10px;
}
.profile-img{
    width: 50%;
    text-align: right;

}
.profile-img img{
    background: linear-gradient(145deg, #202025, #25252c);
    box-shadow:  5px 5px 16px #0f0f12, 
                 -5px -5px 16px #373740;
                 border-radius: 50%;
}
.welcome-user{
    width: 50%;
    padding: 20px 3%;
}
.welcome-user span {
    color: #ecf0f1;
    font-family: neutra;
}
.padding{
    border-right: 1px solid #2f2f30;
    padding: 0px 3%;
}
.dashboard{
    top: 0;
    left: 0;
    width: 350px;
    max-width: 70%;
    padding: 20px 1%;
    position: fixed;
    height: 100vh;
    margin-top: 120px;
}

.dashboard-heading{
    border-bottom: 1px solid #2f2f30; 
    padding: 0px 3%; 
}
.dashboard-heading p a{
    text-decoration: none;
}
.dashboard-heading p{
    color: #ecf0f1;
    text-align: center;
    padding: 30px 0px;
    font-family: neutra;
    text-decoration: none;
}
.dashboard-links{
    padding: 30px 0%;
   
}
.dashboard-links ul{
    list-style: none;
}
.dashboard-links li a{
    text-decoration: none;
    color: #ecf0f1;
    transition: 1s ease-in-out;
}
.dashboard-links li:hover{
    transform: scale(1.1);
}
.dashboard-links li{
    padding: 20px 0px;
    text-align: left;
    padding-left: 20%;
}
.dashboard-links li a i{
    margin-right: 5%;
    color:#f1c40f;
    box-shadow:  9px 9px 7px #1a1a1f, 
             -9px -9px 7px #2c2c33;
             border-radius: 50%;
}
.current-status{
    top: 0;
    left: 0;
    margin-left: 27%;
    padding-top: 140px;
}
.section-heading {
    padding: 20px 2%;
    padding-bottom: 10px;
 }
 .section-heading h2{
     font-size: 24px;
     color: #ecf0f1;
 }
 .section-heading h2::after{
    display: block;
    width: 60px;
    height: 2px;
    content: ' ';
    margin-top: 8px;
    background-color: #8e7037;
    /* margin-left: auto;
    margin-right: auto; */
 }
 .row-search{
    display: flex;
    padding: 40px 0px;
    padding-bottom: 35px;
}
.row-find{
    width: 80%;
    /* border: 1px solid #ecf0f1; */
    border-radius: 50px;
    box-shadow:  5px 5px 10px #1b1b20, 
    -5px -5px 10px #2b2b32;
}
.row-find button:focus{
    outline: none;
}
.row-find button{
    background-color: transparent;
    border: none;
    color: #ecf0f1;
    font-size: 18px;
}
.row-update{
    width:  20%;
    text-align: center;
    padding: 10px 0px;
}
.row-update input{
    padding: 12px 25px;
    border: none;
    color: #fafafa;
    background-color: #4bb543;
    border-radius: 3px;
}
.row-find input{
    width: 90%;
    border: none;
    color: #ecf0f1;
    height: 10vh;
    background-color: transparent;
    padding: 20px 35px;
    font-size: 18px;
}
.row-find input:focus{
    outline: none;
}

.input-field-rows{
    display: flex;
    padding: 20px 2%;
   
}
.input-column{
    width: 50%;
    display: flex;
    padding: 10px 0px;
    margin-right: 5%;
    border-bottom:1px solid #373740;
}
.input-row{
   width: 55%;
}
.input-row span{
    font-family: 'Cabin', sans-serif;
    font-size: 16px;
    color: #ababab;
}
.input-row-response {
    width: 45%;
    text-align: right;
    padding-right: 3%;
    font-size: 16px;
}
.input-row-response p{
    font-family: 'Cabin', sans-serif;
    color: #ecf0f1;
}
.file-upload{
    margin-top: 20px;
    padding: 5px 2%;
    padding-bottom: 20px;
}
.file-upload label{
    font-size: 18px;
    color: #ababab;
}
.file-upload input{
    margin-left: 4%;
    font-size: 15px;
    background-color: transparent;
    color: #ecf0f1;
}
#special-row{
    width: 20%;
}
#special-response{
    width: 80%;
}
.select-option-1{
   
    padding: 20px 2%;
    display: flex;
    padding-top: 30px;
}
.select-option-2{
   padding: 20px 2%;
   display: flex;
}
.select-option-1 label{
   width: 20%;
   font-size: 17px;
   color: #ababab;
}
.select-option-1 select{
   width: 60%;
   padding: 10px 5px;
   color: #ecf0f1;
}
.select-option-1 select:focus{
    outline: none;
}
.select-option-1 option{
    font-size: 15px;
}
.select-option-2 label{
   width: 20%;
   font-size: 17px;
   color: #ababab;
}
.select-option-2 select{
   width: 60%;
   padding: 10px 5px;
   color: #ecf0f1;
}
.select-option-2 select:focus{
    outline: none;
}
.select-option-2 option{
    font-size: 15px;
}