.container-contact{
    background-image: url(contact.jpg);
    background-size: cover;
    height: 100vh;
}
.contact-us{
    padding: 90px 80px; 
 
}
.contact-us h2{
    font-size: 34px;
    color: #484848;
    text-align: center;
    padding-left: 38%;
    
}
.contact-us p{
    font-size: 20px;
    color: #484848;
    text-align: center;
    padding-left: 38%;
    font-family: 'Lato', sans-serif;
    margin-top: 20px;

}
.contact-us input,textarea{
    display: block;
    margin-bottom: 50px;
    padding-top: 10px;
    padding-bottom: 7px;
    padding-right: 10px;
    border: none;
    border-bottom: 1px solid #484848;
    width: 90%;
    background-color: #eaeaea;
}
.information {
    
    margin-left: auto;
    margin-right: auto;
    padding-left: 45%;
    margin-top: 50px;
}
.contact-us input:focus{
    outline: none;
}
.contact-us textarea:focus{
    outline : none;
}
.btn-submit{
    padding: 8px 15px ;
    border-radius: 4px;
    background-color: #05a081 ;
    color: #fafafa;
}
button .btn-submit:focus{
    outline: none;
}
.footer{
    text-align: center;
    background-color: #3a3434;
    
}
.footer-bg{
    padding-bottom: 65px;
    border-bottom: 1px solid #fafafa;
    
}
.footer-bg img{
    margin-top: 30px;
    margin-bottom: 10px;
}
.footer-bg h3{
    font-size: 24px;
    color: #fafafa;
    margin-bottom: 15px;
}
.footer-bg h5{
    font-family: 'Lato', sans-serif;
    font-size: 17px;
    color: #fafafa;
    margin-bottom: 50px;
}

.footer-bg input{
    border: none;
    background-color: #3a3434;
    width: 25%;
}
.footer-bg i{
    padding-left: 1.5%;
    color: #fafafa;
    border-left: 1px solid #fafafa;
}
.email{
    display: inline;
    padding: 10px 15px ;
    border: 1px solid #fafafa;
}
.email input:focus{
    outline: none;
    color: #fafafa;
}
.social-media{
    display: flex;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 20px;
    padding-left: 20px;
    
}
.copyright{
    width: 30%;
    color: #fafafa;
    text-align: center;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
}
.icons{
    width: 35%;
    color: #fafafa;
    text-align: center;
    font-size: 20px;
    padding-left:6% ;
}
.icons i{
    margin-right: 10px;
}
.payment{
    width: 35%;
    color: #fafafa;
    text-align: center;
    font-size: 22px;
    padding-left:6% ;
}
.payment i{
    margin-right: 10px;
}