{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/d8f6b964b3.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{% static '/traveldesk/css/travel.css' %}">
        <link rel="stylesheet" href="{% static '/traveldesk/css/pick.css' %}">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
        <title>Pick And Drop</title>
    </head>
    <body>
        <header class="travel-desk">
            <div class="navbar">
                
                <div class="user-travel">
                    <div class="user-img">
                        <img src="{% static 'traveldesk/img/avatar.png' %}" height="75px" width="80px">
                    </div>
                    <div class="user-name">
                        <p>Rahul Singh</p>
                    </div>    
                </div>    
                <div class="nav-page">
                    <ul>
                        <li><a href="{% url 'traveldesk_home' %}">Home</a></li>
                        <li><a href="{% url 'rent' %}">Rental Status</a></li>
                        <li><a href="{% url 'pick' %}">Pick And Drop </a></li>
                        <li><a href="{% url 'driver' %}">Driver Status</a></li>
                        <li><a href="{% url 'car' %}">Vehicle Status</a></li> 
                        <li><a href="{% url 'logout' %}">Logout</a></li>
                    </ul>    
                </div>
            </div>
        </header>    
           <section class="pick">   
                <div class="row-search">
                    <div class="row-find">
                        <input class="search-bar" placeholder="Search By Name" type="text"  id="myInput" onkeyup=myFunction() />
                        <button type="submit"><i class="fas fa-search"></i></button>
                    </div>
                    <div class="row-update">
                        <form action="" method="POST" id="myform"> 
                            {% csrf_token %}
                        <input type="submit" class="update-btn" value="Update">
                    </div>        
                </div>
            </section>   
            <section class="drop">            
                    <table class="guest-list" width="100%" id="myTable">
                        <tr>
                            <th>S.No</th>
                            <th>Guest Name</th>
                            <th>Room Number</th>
                            <th class="contact-info">Contact Info</th>
                            <th>Pickup Location</th>
                            <th class="room">Drop Location</th>
                            <th class="guest">Pickup Time</th>
                            <th>Vehicle Alloted</th>
                            <th>Driver Alloted</th>
                            <th>Status</th>
                        </tr> 
                        {% for num,name,numbe,phn,mail,pick,drop,time,categor,register,drive,status,list in data %}
                        <tr>
                            <td>{{num}}</td>
                            <td>{{name}}</td>
                            <td>{{numbe}}</td>
                            <td rowspan="1" class="contact-row">
                                <p>{{phn}}</p>
                                <p>{{mail}}</p>
                            </td>
                            <td rowspan="1">
                            <input type="text" class="pick-input" name="pick-{{num}}" value="{{pick}}">
                            </td>
                            <td> <input type="text" class="pick-input" name="drop-{{num}}" value="{{drop}}"> </td>    
                            <td> <input type="time" class="pick-input" name="time-{{num}}" value="{{time}}"> </td> 
                            <td>
                            <select class="select-pick" name="category-{{num}}" onchange="submitform()">
                                {% for category in vehicle_category %}
                                <option value="{{category}}" {% if  categor == category %}{{select}}{% endif %}>{{category}}</option>
                                {% endfor %}

                            </select>    
                                <select class="select-pick" name="vehicle-{{num}}">
                                    {% for number in list %}
                                    <option value="{{number}}" {% if register == number %}{{select}}{% endif %}>{{number}}</option>
                                    {% endfor %}
                                </select> 
                            </td>
                             <td colspan="1">
                            <select class="select-pick" name="driver-{{num}}">
                                {% for id,driver in driver_list %}
                                <option value="{{driver}}" {% if drive == driver %}{{select}}{% endif %}>{{id}} {{driver}}</option>
                                 {% endfor %}
                            </select>    
                            </td>
                             <td colspan="1">
                            <select class="select-pick" name="status-{{num}}">
                                {% for i in pick_drop_status %}
                                <option value="{{i}}" {% if status == i %}{{select}}{% endif %}>{{i}}</option>
                                 {% endfor %}
                            </select>    
                            </td>   
                        </tr> 
                        {% endfor %}
                        
                </form>   
            </section>         
    </body>
</html>
<script>
    function myFunction() {

    var input, filter, table, tr, td, i, txtValue;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    table = document.getElementById("myTable");
    tr = table.getElementsByTagName("tr");

    
    for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[0] ;
        if (td) {
        txtValue = td.textContent || td.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
        } else {
            tr[i].style.display = "none";
        }
        }
    }
    }
    function submitform(){
        document.forms["myform"].submit();
    }
</script>