{% load static %}
<!DOCTYPE html>
<html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" href="{% static '/traveldesk/css/travel.css' %}">
            <script src="https://kit.fontawesome.com/d8f6b964b3.js" crossorigin="anonymous"></script>
            <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
            <title>Travel Desk</title>
        </head>
        <body>
            <header class="travel-desk">
                <div class="navbar">
                    
                    <div class="user-travel">
                        <div class="user-img">
                            <img src="{% static 'traveldesk/img/avatar.png' %}" height="75px" width="80px">
                        </div>
                        <div class="user-name">
                            <p>Rahul Singh</p>
                        </div>    
                    </div>    
                    <div class="nav-page">
                        <ul>
                            <li><a href="{% url 'traveldesk_home' %}">Home</a></li> 
                            <li><a href="{% url 'rent' %}">Rental Status</a></li>
                            <li><a href="{% url 'pick' %}">Pick And Drop </a></li>
                            <li><a href="{% url 'driver' %}">Driver Status</a></li>
                            <li><a href="{% url 'car' %}">Vehicle Status</a></li> 
                            <li><a href="{% url 'logout' %}">Logout</a></li>
                        </ul>    
                    </div>
                </div>
            </header>    
            <section class="booking-form">
                <form action="" method="POST" id="myform"  onsubmit="return validate()">
                    {% csrf_token %}
                <div class="form-display">
                    <div class="image-travel">
                       <img src="{% static './traveldesk/img/travel-1.svg' %}" width="650px" height="450px">
                    </div>
                    <div class="form">
                        <div class="flex-input">
                          <div class="box-input">
                            <label for="name">Guest Name :
                            <span id="error-name" style="visibility: hidden;color:red;">
                                <i class="fas fa-exclamation"></i>
                                <span>Enter Guest name</span>  
                            </span>
                            </label>
                            <input type='text' id="name" autocomplete="off" name="name" {% if name %} value="{{name}}" {% endif %}>
                          </div>
                          <div class="box-input">
                            <label for="room-no">Room Number :
                            <span id="error-room" style="visibility: hidden;color:red;">
                                <i class="fas fa-exclamation"></i>
                                <span>Enter Room number</span>  
                            </span>
                            </label>
                            <input type="text" id="room-no" name="room_number" {% if room_number %} value="{{room_number}}" {% endif %}>
                          </div>
                        </div>
                        <span id="error-vehicle" style="visibility: hidden;color:red;">
                                <i class="fas fa-exclamation"></i>
                                <span>Please Select Vehicle</span>  
                            </span>
                        <select id="vehicle" name="type" onchange="submitform()">
                            <option disabled selected id="one" value="None">Vehicle : 
                            </option>
                            {% for i in type %}
                            <option value="{{i}}" {% if type_vehicle %}{% if i == type_vehicle %}{{select}}{% endif %}{% endif %}>{{i}}</option>
                            {% endfor %}
                        </select>
                         <span id="error-number" style="visibility: hidden;color:red;">
                                <i class="fas fa-exclamation"></i>
                                <span>Please Select Car Number</span>  
                         </span> 
                        <div class="flex-input">      
                            <select id="car-type" class="select" name="category" onchange="submitform2()">
                                <option disabled selected id="one" value="None">Vehicle Type</option>
                            {% for i in category %}
                                <option value="{{i}}" {% if category_vehicle %}{% if i == category_vehicle %}{{select}}{% endif %}{% endif %}>{{i}}</option>
                            {% endfor %}
                            </select>        
                            <select id="v-number" class="select" name="number" onchange="submitform3()">
                                <option disabled selected id="one" value="None">Vehicle Number</option>
                            {% for i in number %}
                                <option value="{{i}}" {% if number_vehicle %}{% if i == number_vehicle %}{{select}}{% endif %}{% endif %}>{{i}}</option>
                            {% endfor %}
                            </select>    
                        </div> 
                        <span id="error-driving" style="visibility: hidden;color:red;">
                                <i class="fas fa-exclamation"></i>
                                <span>Please Select Driving type</span>  
                         </span>  
                        <select id="driving-type" name="driving" onchange="drive()">
                            <option disabled selected id="one" value="None">Driving</option>
                            <option value="driver">Driver</option>
                            <option value="self">Self</option>
                        </select>
                        <span id="error-driver" style="visibility: hidden;color:red;">
                                <i class="fas fa-exclamation"></i>
                                <span>Please Select Driver</span>  
                         </span> 
                        <div class="flex-input">
                            <select id="driver" class="select" name="driver" style="visibility:visible;">
                                <option disabled selected id="one" value="None">Driver</option>
                            {% for i,j in driver %}
                                <option value="{{i}}" {% if number_vehicle %}{% if i == number_vehicle %}{{select}}{% endif %}{% endif %}>{{i}} {{j}}</option>
                            {% endfor %}
                            </select> 
                            <!-- <div class="box-input">
                              <label for="driver">Driver Alloted :</label>
                              <input class="driver-name" type="text" id="driver" name="driver" {% if driver %} value="{{driver}}" {% endif %}>
                            </div> -->
                            <span id="error-time" style="visibility: hidden;color:red;">
                                <i class="fas fa-exclamation"></i>
                                <span>Please Select Driver</span>  
                         </span>
                            <div class="box-input">
                              <label for="hours">Alloted Time (Hrs) :</label>
                              <input class="time" type="number"  id="hours" name="time"> 
                            </div>
                        </div>
                        <input type="submit" class="btn-travel">
                    </div>    
                </div>    
                </form>
            </section>    
        </body>
</html>
<script>
    function validate()
    {
    var guest=document.getElementById('name').value
    var room=document.getElementById('room-no').value
    var type=document.getElementById('vehicle').value
    var category=document.getElementById('car-type').value
    var number=document.getElementById('v-number').value
    var driving=document.getElementById('driving-type').value
    var driver=document.getElementById('driver').value
    var time=document.getElementById('hours').value
    if(guest==''){
    document.getElementById('error-name').style.visibility='visible';
    return false;
    }
    else if(room==''){
    document.getElementById('error-room').style.visibility='visible';
    return false;
    }
     else if(type=='None'){
    document.getElementById('error-vehicle').style.visibility='visible';
    return false;
    }
    else if(category=='None'){
    document.getElementById('error-category').style.visibility='visible';
    return false;
    }
    else if(number=='None'){
    document.getElementById('error-number').style.visibility='visible';
    return false;
    }
    else if(driving=='None'){
    document.getElementById('error-driving').style.visibility='visible';
    return false;
    }
    else if(driving=='driver'){
        if(driver=='None')
        {
         document.getElementById('error-driver').style.visibility='visible';
         return false;
        }
    }
    else if(time==''){
         document.getElementById('error-time').style.visibility='visible';
         return false;
    }
    else{
        return true;
    }
    }

    function drive(){
    var driving=document.getElementById('driving-type').value
    if(driving=='driver'){
        document.getElementById('driver').style.visibility = "visible";
        document.getElementById("driver").selectedIndex = 0;
        return true;
     }
    else{
        document.getElementById('driver').style.visibility = "hidden";
        document.getElementById("driver").selectedIndex = 0;
        return true;
    }
    }
     function submitform(){
      var guest=document.getElementById('name').value
      var room=document.getElementById('room-no').value
      var type=document.getElementById('vehicle').value

      if(guest=='' & room=='')
      {
        document.getElementById('error-name').style.visibility = "visible";
        document.getElementById('error-room').style.visibility = "visible";
        document.getElementById('error-vehicle').style.visibility = "hidden";
        document.getElementById("vehicle").selectedIndex = 0;
        document.getElementById("car-type").selectedIndex = 0;
        document.getElementById("v-number").selectedIndex = 0;    
        return false;  
      }
      else if(guest==''){
        document.getElementById('error-name').style.visibility = "visible";
        document.getElementById('error-vehicle').style.visibility = "hidden";
        document.getElementById("vehicle").selectedIndex = 0;
        document.getElementById("car-type").selectedIndex = 0;
        document.getElementById("v-number").selectedIndex = 0;    
        return false;
      }
      else if(room=='')
      {
        document.getElementById('error-room').style.visibility = "visible";
        document.getElementById('error-vehicle').style.visibility = "hidden";
        document.getElementById("vehicle").selectedIndex = 0;   
        document.getElementById("car-type").selectedIndex = 0;
        document.getElementById("v-number").selectedIndex = 0;    
        return false;    
      }    
      else
      {
        document.forms["myform"].submit();
      }
    }
    function submitform2(){
      var guest=document.getElementById('name').value
      var room=document.getElementById('room-no').value
      var type=document.getElementById('vehicle').value

      if(guest=='' & room=='' & type=='None')
      {
        document.getElementById('error-name').style.visibility = "visible";
        document.getElementById('error-room').style.visibility = "visible";
        document.getElementById('error-vehicle').style.visibility = "visible";
        document.getElementById('error-category').style.visibility = "hidden";
        document.getElementById("car-type").selectedIndex = 0;  
      }
      else if(guest=='' & type=='None')
      {
        document.getElementById('error-name').style.visibility = "visible";
        document.getElementById('error-vehicle').style.visibility = "visible";
        document.getElementById('error-category').style.visibility = "hidden";
        document.getElementById("car-type").selectedIndex = 0;  
      }
      else if(room=='' & type=='None')
      {
        document.getElementById('error-room').style.visibility = "visible";
        document.getElementById('error-vehicle').style.visibility = "visible";
        document.getElementById('error-category').style.visibility = "hidden";
        document.getElementById("car-type").selectedIndex = 0;  
      }
      else if(type=='None')
      {
        document.getElementById('error-vehicle').style.visibility = "visible";
        document.getElementById('error-category').style.visibility = "hidden";
        document.getElementById("car-type").selectedIndex = 0;  
      }      
      else
      {
        document.forms["myform"].submit();
      }
    }
    function submitform3(){
      var guest=document.getElementById('name').value
      var room=document.getElementById('room-no').value
      var type=document.getElementById('vehicle').value
      var category=document.getElementById('car-type').value
      var number=document.getElementById('v-number').value
      if(guest=='' & room=='' & type=='None' & category=='None')
      {
        document.getElementById('error-name').style.visibility = "visible";
        document.getElementById('error-room').style.visibility = "visible";
        document.getElementById('error-vehicle').style.visibility = "visible";
        document.getElementById('error-category').style.visibility = "visible";
        document.getElementById("v-number").selectedIndex = 0;  
      }
      else if(type=='None' & category=='None' & guest=='')
      {
        document.getElementById('error-room').style.visibility = "visible";
        document.getElementById('error-vehicle').style.visibility = "visible";
        document.getElementById('error-category').style.visibility = "visible";
        document.getElementById("v-number").selectedIndex = 0;  
      }
      else if(room=='' & type=='None' & category=='None')
      {
        document.getElementById('error-vehicle').style.visibility = "visible";
        document.getElementById('error-room').style.visibility = "visible";
        document.getElementById('error-category').style.visibility = "visible";
        document.getElementById("v-number").selectedIndex = 0;  
      }
      else if(type=='None' & category=='None')
      {
        document.getElementById('error-vehicle').style.visibility = "visible";
        document.getElementById('error-room').style.visibility = "visible";
        document.getElementById('error-category').style.visibility = "visible";
        document.getElementById("v-number").selectedIndex = 0;  
      }
      else if(category=='None')
      {
        document.getElementById('error-category').style.visibility = "visible";
        document.getElementById("v-number").selectedIndex = 0;  
      }      
      else
      {
        document.forms["myform"].submit();
      }
    }
</script>