{% load static %}
<!DOCTYPE html>
<html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" href="{% static '/traveldesk/css/travel.css' %}">
            <script src="https://kit.fontawesome.com/d8f6b964b3.js" crossorigin="anonymous"></script>
            <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
            <title>Travel Desk</title>
        </head>
        <body>
            <header class="travel-desk">
                <div class="navbar">
                    
                    <div class="user-travel">
                        <div class="user-img">
                            <img src="{% static 'traveldesk/img/avatar.png' %}" height="75px" width="80px">
                        </div>
                        <div class="user-name">
                            <p>Rahul Singh</p>
                        </div>    
                    </div>    
                    <div class="nav-page">
                        <ul>
                            <li><a href="{% url 'traveldesk_home' %}">Home</a></li> 
                            <li><a href="{% url 'rent' %}">Rental Status</a></li>
                            <li><a href="{% url 'pick' %}">Pick And Drop </a></li>
                            <li><a href="{% url 'driver' %}">Driver Status</a></li>
                            <li><a href="{% url 'car' %}">Vehicle Status</a></li> 
                            <li><a href="{% url 'logout' %}">Logout</a></li>
                        </ul>    
                    </div>
                </div>
            </header>    
            <section class="booking-form">
                <form action="" method="POST" id="myform">
                    {% csrf_token %}
                <div class="form-display">
                    <div class="image-travel">
                       <img src="{% static './traveldesk/img/travel-1.svg' %}" width="650px" height="450px">
                    </div>
                    <div class="form">
                        <div class="flex-input">
                          <div class="box-input">
                            <label for="name">Guest Name :</label>
                            <input type='text' id="name" autocomplete="off" name="name" {% if name %} value="{{name}}" {% endif %}>
                          </div>
                          <div class="box-input">
                            <label for="room-no">Room Number :</label>
                            <input type="text" id="room-no" name="room_number" {% if room_number %} value="{{room_number}}" {% endif %}>
                          </div>
                        </div>
                        <select id="vehicle" name="type" onchange="submitform()">
                            <option disabled selected id="one">Rent a .. ?</option>
                            {% for i in type %}
                            <option value="{{i}}" {% if type_vehicle %}{% if i == type_vehicle %}{{select}}{% endif %}{% endif %}>{{i}}</option>
                            {% endfor %}
                        </select>  
                        <div class="flex-input">      
                            <select id="car-type" class="select" name="category" onchange="submitform()">
                                <option disabled selected id="one">Vehicle Type</option>
                            {% for i in category %}
                                <option value="{{i}}" {% if category_vehicle %}{% if i == category_vehicle %}{{select}}{% endif %}{% endif %}>{{i}}</option>
                            {% endfor %}
                            </select>        
                            <select id="v-number" class="select" name="number" onchange="submitform()">
                                <option disabled selected id="one">Vehicle Number</option>
                            {% for i in number %}
                                <option value="{{i}}" {% if number_vehicle %}{% if i == number_vehicle %}{{select}}{% endif %}{% endif %}>{{i}}</option>
                            {% endfor %}
                            </select>    
                        </div>  
                        <select id="driving-type" name="driving">
                            <option disabled selected id="one">Driving</option>
                            <option value="driver">Driver</option>
                            <option value="self">Self</option>
                        </select> 
                        <div class="flex-input">
                            <select id="v-number" class="select" name="driver">
                                <option disabled selected id="one" value="None">Driver</option>
                            {% for i,j in driver %}
                                <option value="{{i}}" {% if number_vehicle %}{% if i == number_vehicle %}{{select}}{% endif %}{% endif %}>{{i}} {{j}}</option>
                            {% endfor %}
                            </select> 
                            <!-- <div class="box-input">
                              <label for="driver">Driver Alloted :</label>
                              <input class="driver-name" type="text" id="driver" name="driver" {% if driver %} value="{{driver}}" {% endif %}>
                            </div> -->
                            <div class="box-input">
                              <label for="hours">Alloted Time (Hrs) :</label>
                              <input class="time" type="number"  id="hours" name="time"> 
                            </div>
                        </div>
                        <input type="submit" class="btn-travel" >
                    </div>    
                </div>    
                </form>
            </section>    
        </body>
</html>
<script>
     function submitform(){
        document.forms["myform"].submit();
    }
</script>